



<div class="main-content">
  <a class="red-text"  ></a>
  <div class="col-md-12">
     <div class="card card-nav-tabs" >
        <div class="card-header" data-background-color="red" >
            
        </div>
        <div class="card-content">
            

            <!--Partie ajout -->
            <div  class="tab-pane"  id="ajout">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                
                                <div class="card-content">
                                    <form>
                                        

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-black label-floating is-empty">
                                                    <label class="control-label">nom_ville</label>
                                                    <input type="text" class="form-control" name="nom_ville" [(ngModel)]="nom_ville" >
                                                </div>

                                                <div class="form-group form-black label-floating is-empty">
                                                    <label class="control-label">id_gouvernorat</label>
                                                    <input type="number" class="form-control" name="id_gouvernorat" [(ngModel)]="id_gouvernorat" >
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <button type="submit" class="btn btn-danger pull-right" (click)="ajouterVille()">Ajouter  ville</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- partie ajout -->
        </div>

     </div>



  </div>
   

    
</div>























